.form-signin {
  position: absolute;
  top: 15vh;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #000;
}

.buy-page {
  text-align: center;
  margin-top: 15px;
  width: 600px;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #000;
}

#itemPicture {
  max-width: 100%;
}
