.form-signin {
  position: absolute;
  top: 15vh;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #000;
}

.buy-page {
  text-align: center;
  margin-top: 15px;
  width: 600px;
  height: 600px;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #000;
  position: relative;
}

.shortlist-page {
  text-align: center;
  margin-top: 15px;
  width: 600px;
  height: 480px;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #000;
  position: relative;
}

.itemPicture {
  max-width: 100%;
  max-height: 300px;
}

#buyButtons {
  position: absolute;
  width: 90.5%;
  bottom: 30px;
}

.mainBody {
  margin-top: 65px; /* Add a top margin to avoid content overlay */
}
